.blocPrediction {
    margin-top: 10px;
    padding: 10px;
    background-color: #fffffe;
    border: solid 2px #0e172c;
    width: 900px;
    height: 280px;
}

.prediction > h2 {
    margin: 0 auto;
    margin-bottom: 10px;
    position: absolute;
    top: 480px;
    left: 45px;
    background-color: #fffffe;
    font-size: 30px;
}

.btnExporterPrediction {
    padding: 7px;
    background-color: #0e172c;
    color: #fffffe;
    position: absolute;
    top: 490px;
    left: 765px;
    width: 150px;
    border: none;
    font-size: 11px;
    border-radius: 5px;
    font-weight: 700;
}

.divPredictionInvisible {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 280px;
}

.divPredictionInvisible > p {
    font-size: 25px;
}

.predictionPNG {
    margin-top: 40px;
    width: 900px;
    height: 250px;
}