@import "./CSS/blocFluxActuel.css";
@import "./CSS/blocActions.css";
@import "./CSS/blocPrediction.css";
@import "./CSS/blocProfil.css";

body {
    background-color: #fec7d7;
    margin: 10px;
    color: #0e172c;
    font-family: "basic-sans", sans-serif;
    font-style: normal;
}

header {
    height: 70px;
}

.logoHeader {
    padding: 10px;
    width: auto;
    height: 60%;
}

.helloUser {
    position: absolute;
    right: 20px;
    top: 10px;
    text-align: right;
}

.helloUser > h2 {
    margin: 0 auto;
    font-size: 30px;
}
.helloUser > p {
    margin: 0 auto;
    font-size: 20px;
}

.bold {
    font-weight: 700;
}

.light {
    font-weight: 100;
}